<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="bg-cover bg-center" style="background-image: url(red-pink-gradient-abstract-polygon-triangular-vector-9069379.jpg)">
        <div class="container mx-auto mt-5 mb-10 max-w-6xl bg-white p-3 font-bold rounded-lg">
            <ul class="flex">
                <li class="flex-1 mr-2">
                    <a class="text-center block border border-white rounded py-2 px-4 bg-red-500 hover:bg-red-700 text-white" href="/login">Login</a>
                </li>
                <li class="flex-1 mr-2">
                    <a class="text-center block border border-white rounded hover:border-red-200 text-red-500 hover:bg-red-100 py-2 px-4" href="/register">Signin</a>
                </li>
            </ul>
        </div>
        <div class="container mx-auto mt-5 mb-5 max-w-6xl flex bg-white rounded-lg overflow-hidden shadow-lg">
          <a href="#" class="flex flex-wrap no-underline hover:no-underline">
            <div class="w-full md:w-2/3 rounded-t">
              <img src="mokletfront.jpg" alt="avatar" class="h-full w-full shadow">
            </div>
            <div class="w-full md:w-1/3 flex flex-col flex-grow flex-shrink p-5">
              <div class="flex-1 bg-white overflow-hidden">
                <p class="w-full text-red-600 text-xs md:text-sm pt-6 px-6 mb-5">
                  GETTING STARTED
                </p>
                <div class="w-full font-bold text-2xl text-gray-900 px-6 uppercase mb-5">
                  Welcome to personal web
                </div>
                <p class="text-gray-800 font-serif text-base px-6 mb-5">Selamat datang di Personal Web ini. Anda bisa login jika sudah memiliki akun, jika belum memiliki akun, anda bisa mendaftar terlebih dahulu. Web ini dibuat sangat sederhana sehingga sangat mudah mengaksesnya. Dibuat menggunakan express.js dan dan tailwindcss dengan tampilan yang sangat simpel tetapi menarik dan mudah digunakan.</p>
              </div>
            </div>
          </a>
        </div>
    </body>
</html>