<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Location</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
		<link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.ico">
        <!-- Place favicon.ico in the root directory -->		
		<!-- all css here -->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="bg-cover bg-center" style="background-image: url(red-pink-gradient-abstract-polygon-triangular-vector-9069379.jpg)">
        <div class="container mx-auto mt-5 mb-4 max-w-6xl bg-white p-3 font-bold rounded-lg">
            <ul class="flex">
                <li class="flex-1 mr-2">
                    <a class="text-center block border border-white rounded py-2 px-4 bg-red-500 hover:bg-red-700 text-white" href="/logout">Logout</a>
                </li>
                <li class="flex-1 mr-2">
                    <a class="text-center block border border-white rounded hover:border-red-200 text-red-500 hover:bg-red-100 py-2 px-4" href="/about">Back</a>
                </li>
            </ul>
        </div>
        <!-- google maps -->
      <iframe class="rounded-lg shadow-lg mx-auto mt-16" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.781997793401!2d112.52240121437146!3d-8.224665184830235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e78a1629d462c69%3A0xfb2669b56b9de38d!2sBakso%20Barokah!5e0!3m2!1sid!2sid!4v1595833778699!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </body>
  </html>